
.header__menu{
    align-items: center;
    height: 100%;
    .nav-item{
        margin: 0 20px;

        a{
            color: #fff;
            padding: 0;
            text-transform: uppercase;
            font-size: 14px;
            display: block;
            letter-spacing: 1px;
            font-weight: 600;

            &:hover{
                opacity: .8;
            }
        }

        &:last-child{
            margin-right: 0;
        }
    }
}