
.features{
    &__box{
       
        padding: 10px;
        border-radius: 5px;

        &:hover{
            -webkit-box-shadow: -3px -1px 19px -2px rgba(0,0,0,0.1); 
            box-shadow: -3px -1px 19px -2px rgba(0,0,0,0.1);
        }
    }

    &__img{
        margin-bottom: 20px;
        overflow: hidden;
        img{
            transition: 0.5s all ease-in-out;
            
        }

        &:hover img{
            transform: scale(1.5);
        }
    }

    &__title{
        color: #012931;
        font-size: 30px;
        display: block;
        font-family: 'Bebas Neue', cursive;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }

    &__content{
        padding: 10px;
        p{
            text-align: left;
            font-size: 14px;
        }
    }
}